<html>

<head>
    <style>
        .menu_option {
            font-size: 30px
        }

        .menu_option:hover {
            font-size: 26px;
            background: #ff0000
        }
    </style>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function load_visits(){
            url = '{{ url }}'
            $.getJSON(url, function(data) {
                $("#visitas").html(String(data['visits']));
            });
        }
        window.onload = load_visits
    </script>
</head>

<body style="background: #f2f2f2">
<table border="1">
    <tr style="background: #ed8080; font-size:20px">
        <th>Site map</th>
        <th>About</th>
        <th>Page Visits Counter</th>
    </tr>
    <tr>
        <td style="width:20%">
            <a href="/" class="menu_option">Home</a>
            <br>
            <a href="/about" class="menu_option">About</a>
            <br>
            <a href="/jobs" class="menu_option">Work with us 🔥🔥🔥🔥</a>
            <br>
            <a href="/legal" class="menu_option">Legal️</a>
        </td>
        <td style="width:70%" align="center">
            <div style="line-height:120%;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;font-weight:bold;">PART I</font></div>
            <a name="sA1C2813AFCE05217B7677B8352BA95B8"></a>
            <div style="line-height:120%;padding-top:18px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;font-weight:bold;">ITEM&nbsp;1.
                BUSINESS</font></div>
            <div style="line-height:120%;padding-top:12px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;">Monsanto
                Company, along with its subsidiaries, is a leading global provider of
                agricultural products for farmers. Our seeds, biotechnology traits,
                herbicides and precision agriculture products provide farmers with
                solutions that improve productivity, reduce the costs of farming and
                produce better foods for consumers and better feed for animals.</font></div>
            <div style="line-height:120%;padding-top:12px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;">We
                manage our business in two segments: Seeds and Genomics and
                Agricultural Productivity. We view our Seeds and Genomics segment as the
                driver for future growth for our company. In our Agricultural
                Productivity segment, global glyphosate producers have substantial
                capacity to supply the market and we expect this global capacity to
                maintain pressure on margins.</font></div>
            <div style="line-height:120%;padding-top:12px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;">We
                provide information about our business, including analyses, significant
                news releases, and other supplemental information, on our website:
                www.monsanto.com. In addition, we make available through our website,
                free of charge, our annual report on Form 10-K, quarterly reports on
                Form 10-Q, current reports on Form 8-K, and any amendments to those
                reports, as soon as reasonably practicable after they have been filed
                with or furnished to the SEC pursuant to Section&nbsp;13(a) or 15(d) of
                the Securities Exchange Act of 1934. Forms 3, 4 and 5 filed with respect
                to our equity securities under Section&nbsp;16(a) of the Exchange Act
                are also available on our website by the end of the business day after
                filing. All of these materials can be found under the “Investors” tab.
                Our website also includes the following corporate governance materials,
                under the tab “Who We Are — Corporate Governance”: our Code of Business
                Conduct, our Code of Ethics for Chief Executive and Senior Financial
                Officers, our Board of Directors’ Charter and Corporate Governance
                Guidelines, and charters of our Board committees. These materials are
                also available on paper. Any shareowner may request them by contacting
                the Office of the General Counsel, Monsanto Company, 800 N. Lindbergh
                Blvd., St.&nbsp;Louis, Missouri, 63167. Information on our website does
                not constitute part of this report.</font></div>
            <div style="line-height:120%;padding-top:12px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;">A description of our business
                follows.</font></div>
            <a name="s03A3C51BA6445796B0D38A40FA54118C"></a>
            <div style="line-height:120%;padding-top:18px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;font-weight:bold;">SEEDS AND GENOMICS
                SEGMENT</font></div>
            <div style="line-height:120%;padding-bottom:8px;padding-top:8px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;">Through our Seeds and Genomics segment, we
                produce leading seed brands, including </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">DEKALB</font><font
                    style="font-family:inherit;font-size:10pt;">, </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">Asgrow</font><font
                    style="font-family:inherit;font-size:10pt;">, </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">Deltapine</font><font
                    style="font-family:inherit;font-size:10pt;">, </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">Seminis</font><font
                    style="font-family:inherit;font-size:10pt;"> and </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">De&nbsp;Ruiter,</font><font
                    style="font-family:inherit;font-size:10pt;">
                and we develop biotechnology traits that assist farmers in controlling
                insects and weeds and precision agriculture products to assist farmers
                in decision making. We also provide other seed companies with genetic
                material for their seed brands. The tabular information about net sales
                of our seeds and traits that appears in Item&nbsp;7 — Management’s
                Discussion and Analysis of Financial Condition and Results of Operations
                (MD&amp;A) — Seeds and Genomics Segment — is incorporated herein by
                reference.</font></div>
            <div style="line-height:120%;font-size:9pt;"><font style="font-family:inherit;font-size:9pt;">&nbsp;</font>
            </div>
            <div style="line-height:120%;font-size:18pt;">
                <div style="padding-left:0px;text-indent:0px;line-height:normal;padding-top:10px;">
                    <table style="font-family:Times New Roman;font-size:10pt;width:100%;border-collapse:collapse;text-align:left;"
                           cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td width="19%"></td>
                            <td width="1%"></td>
                            <td width="41%"></td>
                            <td width="1%"></td>
                            <td width="38%"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:bottom;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-weight:bold;">Major
                                    Products</font></div>
                            </td>
                            <td style="vertical-align:bottom;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:8pt;"><font
                                        style="font-family:inherit;font-size:8pt;">&nbsp;&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:bottom;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-weight:bold;">Applications</font>
                                </div>
                            </td>
                            <td style="vertical-align:bottom;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:8pt;"><font
                                        style="font-family:inherit;font-size:8pt;">&nbsp;&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:bottom;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-weight:bold;">Major&nbsp;Brands</font>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Germplasm</font></div>
                            </td>
                            <td style="vertical-align:top;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:8pt;"><font
                                        style="font-family:inherit;font-size:8pt;">&nbsp;&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:top;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Row crop seeds:</font>
                                </div>
                                <div style="padding-left:18px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Corn hybrids and
                                    foundation seed</font></div>
                                <div style="padding-left:18px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Soybean varieties and
                                    foundation seed</font></div>
                                <div style="padding-left:18px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Cotton varieties,
                                    hybrids and foundation seed</font></div>
                                <div style="padding-left:18px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Other row crop varieties
                                    and hybrids, such as canola</font></div>
                                <div style="padding-left:18px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                            </td>
                            <td style="vertical-align:top;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:8pt;"><font
                                        style="font-family:inherit;font-size:8pt;">&nbsp;&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:top;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="font-size:9pt;"><font
                                        style="font-family:inherit;font-size:9pt;">&nbsp;</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">DEKALB</font><font
                                        style="font-family:inherit;font-size:10pt;">, </font><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Channel</font><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;for corn</font>
                                </div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Asgrow</font><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;for
                                    soybeans</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Deltapine</font><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;for cotton</font>
                                </div>
                                <div style="font-size:18pt;"><font
                                        style="font-family:inherit;font-size:18pt;">&nbsp;</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:bottom;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;">
                                <div style="overflow:hidden;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:bottom;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="overflow:hidden;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:top;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Vegetable seeds:</font>
                                </div>
                                <div style="padding-left:18px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Open
                                    field and protected-culture seed for tomato, pepper, melon, cucumber,
                                    squash, beans, broccoli, onions, and lettuce, among others</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                            </td>
                            <td style="vertical-align:bottom;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="overflow:hidden;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:top;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Seminis&nbsp;</font><font
                                        style="font-family:inherit;font-size:10pt;">and&nbsp;</font><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">De&nbsp;Ruiter&nbsp;</font><font
                                        style="font-family:inherit;font-size:10pt;">for&nbsp;vegetable&nbsp;seeds</font>
                                </div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="vertical-align:top;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;vertical-align:top;">Biotechnology&nbsp;traits</font><font
                                        style="font-family:inherit;font-size:10pt;vertical-align:top;"><sup
                                        style="vertical-align:top;line-height:120%;font-size:7pt">(1)</sup></font>
                                </div>
                            </td>
                            <td style="vertical-align:top;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:8pt;"><font
                                        style="font-family:inherit;font-size:8pt;">&nbsp;&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:top;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="padding-left:18px;text-indent:-18px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Enable
                                    crops to protect themselves from borers and rootworm in corn, certain
                                    lepidopteran insects in soybeans, and leaf- and boll-feeding worms in
                                    cotton, reducing the need for applications of insecticides</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                            </td>
                            <td style="vertical-align:top;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="text-align:left;font-size:8pt;"><font
                                        style="font-family:inherit;font-size:8pt;">&nbsp;&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:top;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">SmartStax,&nbsp;YieldGard,&nbsp;YieldGard&nbsp;VT&nbsp;Triple,</font><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;</font><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">VT&nbsp;Triple
                                    PRO</font><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;and </font><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">VT
                                    Double PRO</font><font style="font-family:inherit;font-size:10pt;">&nbsp;for
                                    corn; </font><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Intacta
                                    RR2 PRO </font><font style="font-family:inherit;font-size:10pt;">for
                                    soybeans;</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Bollgard</font><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;and </font><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Bollgard
                                    II</font><font style="font-family:inherit;font-size:10pt;">&nbsp;for
                                    cotton</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:bottom;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;">
                                <div style="overflow:hidden;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:bottom;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="overflow:hidden;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:top;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="padding-left:18px;text-indent:-18px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">Enable crops, such as
                                    corn, soybeans, cotton and canola, to be tolerant of </font><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Roundup</font><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;and other
                                    glyphosate-based herbicides</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                            </td>
                            <td style="vertical-align:bottom;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="overflow:hidden;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;</font></div>
                            </td>
                            <td style="vertical-align:top;border-bottom:1px solid #000000;padding-left:2px;padding-top:2px;padding-bottom:2px;padding-right:2px;border-top:1px solid #000000;">
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Roundup&nbsp;Ready</font><font
                                        style="font-family:inherit;font-size:10pt;">&nbsp;and&nbsp;</font><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Roundup&nbsp;Ready&nbsp;2&nbsp;Yield</font>
                                </div>
                                <div style="text-indent:13px;font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;">(soybeans only) </font>
                                </div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;font-style:italic;">Genuity</font><font
                                        style="font-family:inherit;font-size:10pt;">, global umbrella trait
                                    brand</font></div>
                                <div style="font-size:10pt;"><font
                                        style="font-family:inherit;font-size:10pt;"><br></font></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <table style="font-family:Times New Roman; font-size:10pt;" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td style="width:40px;"></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="vertical-align:top">
                        <div style="line-height:120%;font-size:8pt;padding-left:16px;"><font
                                style="font-family:inherit;font-size:8pt;">(1)</font></div>
                    </td>
                    <td style="vertical-align:top;">
                        <div style="line-height:120%;text-align:left;font-size:8pt;"><font
                                style="font-family:inherit;font-size:8pt;">Monsanto also offers farmers
                            stacked-trait products, which are single-seed products in which two or more
                            traits are combined.</font></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="line-height:120%;font-size:8pt;"><font style="font-family:inherit;font-size:8pt;">&nbsp;</font>
            </div>
            <hr style="page-break-after:always">
            <div style="line-height:120%;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;font-weight:bold;">Distribution of
                Products</font></div>
            <div style="line-height:120%;padding-top:12px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;">We
                have a worldwide distribution and sales and marketing organization for
                our seeds and traits. We sell our products under Monsanto brands and
                license technology and genetic material to others for sale under their
                own brands. Through distributors, independent retailers and dealers,
                agricultural cooperatives and agents, we market our </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">DEKALB</font><font
                    style="font-family:inherit;font-size:10pt;">, </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">Asgrow</font><font
                    style="font-family:inherit;font-size:10pt;"> and </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">Deltapine</font><font
                    style="font-family:inherit;font-size:10pt;">
                branded germplasm to farmers in every agricultural region of the world.
                In the United States, we market regional seed brands under our American
                Seeds, LLC and Channel Bio, LLC businesses to farmers directly, as well
                as through dealers, agricultural cooperatives and agents. In countries
                where they are approved for sale, we market and sell our trait
                technologies with our branded germplasm, pursuant to license agreements
                with our farmer customers. In Brazil, Argentina and Paraguay, we have
                implemented a point-of-delivery, grain-based payment system. We contract
                with grain handlers to collect applicable trait fees when farmers
                deliver grain for which trait fees have not already been paid. In
                addition to selling our products under our own brands, we license a
                broad package of germplasm and trait technologies to large and small
                seed companies in the United States and certain international markets.
                Those seed companies in turn market our trait technologies in their
                branded germplasm; they may also market our germplasm under their own
                brand name. Our vegetable seeds are predominantly marketed under either
                the </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">Seminis</font><font
                    style="font-family:inherit;font-size:10pt;"> or </font><font
                    style="font-family:inherit;font-size:10pt;font-style:italic;">De Ruiter</font><font
                    style="font-family:inherit;font-size:10pt;">
                brand in more than 150 countries either directly to farmers or through
                distributors, independent retailers and dealers, agricultural
                cooperatives, plant raisers and agents.</font></div>
            <div style="line-height:120%;padding-top:18px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;font-weight:bold;">Competition</font></div>
            <div style="line-height:120%;padding-top:12px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;">The
                global market for the products of our Seeds and Genomics segment is
                competitive, and the competition has intensified. Both our row crops and
                our vegetable seed businesses compete with numerous multinational
                agrichemical and seed marketers globally and with hundreds of smaller
                companies regionally. Most of our seed competitors in row crops are also
                licensees of our germplasm or biotechnology traits and a few of our
                vegetable seed business competitors have licensed biotech traits for
                sweet corn or genetic improvements through advanced breeding. In certain
                countries, we also compete with government-owned seed companies. Our
                biotechnology traits compete as a system with other practices, including
                the application of agricultural chemicals, and traits developed by
                other companies. Our weed- and insect-control systems compete with
                chemical and seed products produced by other agrichemical and seed
                marketers. Competition for the discovery of new traits based on
                biotechnology or genomics is likely to come from major global
                agrichemical companies, smaller biotechnology research companies and
                institutions, state-funded programs and academic institutions. Enabling
                technologies to enhance biotechnology trait development may also come
                from academic researchers and biotechnology research companies.
                Competitors using our technology outside of license terms and farmers
                who save seed from one year to the next also affect competitive
                conditions.</font></div>
            <div style="line-height:120%;padding-top:12px;font-size:10pt;"><font
                    style="font-family:inherit;font-size:10pt;">Product
                performance (in particular, crop vigor and yield for our row crops and
                quality for our vegetable seeds), customer support and service,
                intellectual property rights and protection, product availability and
                planning and price are important elements of our market success in
                seeds. In addition, distributor, retailer and farmer relationships are
                important in the United States and many other countries. The primary
                factors underlying the competitive success of traits are performance and
                commercial viability; timeliness of introduction; value compared with
                other practices and products; market coverage; service provided to
                distributors, retailers and farmers; governmental approvals; value
                capture; public acceptance; and environmental characteristics.</font></div>
            <img src="/static/mon-2015083_chartx50667a01.jpg"/>
        </td>
        <td style="writing-mode: vertical-rl;background: #f4dfb0;font-size:40px">
            <table border="1" style="font-size:40px">
                <tr>
                    <th>Visit counter content</th>
                </tr>
                <tr>
                    <td>AMOUNT: <span id="visitas">-</span></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>